<div class="row moveup" ng-init="getData()" >

    <ng-map default-style="true" center="{{center}}" zoom="13">

      <marker ng-repeat="antenna in antennas"
        id='{{antenna.id}}'
        position="{{antenna.lat}},{{antenna.lon}}"
        on-click="showDetail(antenna)">
      </marker>

      <info-window id="foo-iw">
        <div ng-non-bindable="">
          Cell: {{antenna.cell}}<br/>
          Bandas: {{antenna.radio}}<br/>
          Señal: {{antenna.averageSignal}}<br/>
        </div>
      </info-window>

    </ng-map>
    
    <a ng-show="antennas" href="javascript:;" class="pull-right" ng-click="hideDetail(e, antenna)">ocultar info</a>

  </div>
</div>
<div class="container" id="list">
  <div class="row minimo" ng-hide="antenna">
    <div class="col-md-12 col-sm-6 col-xs-12">
      <h2 ng-hide="antennas">Cargando información..</h2>
      <h2 ng-hide="antenna">Haga clic para ver mas informacion una celda</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-3 col-xs-12" ng-show="antenna">
      <h3>Tecnología</h3>
      <ul>
        <li>Bandas: {{antenna.radio}}</li>
        <li ng-show="antenna.averageSignal">Signal: {{antenna.averageSignal}}</li>
        <li>Bateria: {{antenna.changeable|bateria}}</li>
      </ul>
    </div>
    <div class="col-md-4 col-sm-3 col-xs-12" ng-show="antenna">
      <h3>Información adicional</h3>
      <ul>
        <li>ID: {{antenna.mcc}} Red: {{antenna.net}}</li>
        <li>Area: {{antenna.area}} Cell: {{antenna.cell}} <span ng-show="antenna.unit">Unit: {{antenna.unit}}</span></li>
        <li>Range: {{antenna.ranges}} {{antenna.samples}}</li>
      </ul>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12" ng-show="antenna">
      <h3>Ubicación</h3>
      <ul>
        <li ng-show="address">Dirección: {{address}}</li>
        <li>Geolocalización: {{antenna.lat}}, {{antenna.lon}}</li>
        <li>Operativa desde: <span am-time-ago="antenna.created"></span></li>
        <li>Ultimo mantenimiento: <span am-time-ago="antenna.updated"></span></li>
      </ul>
    </div>
  </div>
</div>
